/* CSS COMUN: GRID-AREAS / HEADER / NAV /FOOTER */

@font-face{
    font-family: vw1; 
    src: url("../font/SF\ Movie\ Poster\ Bold.ttf");
}

@font-face{
    font-family: conte;  
    src: url("../font/Quicksand-Regular.ttf");
}

*{
    margin: 0;
}

body{       
    background-color:#37465B;
    color: #212B38;
    font-family: conte;
}

/***********************************  GRID AREA  ************************************/

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.info {
    grid-area: info;
}

.review {
    grid-area: review;
}


.footer {
    grid-area: footer;
}

.buscador {
    grid-area: buscador;
}

/******************************   HEADER    ************************/

.header{
    /* border: 1px solid royalblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: vw1;
    background-color:  #212B38;
}
    
.header__title{    
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    color: #ffffe3;
    text-shadow: 3px 2px 2px #FF1D58;
    /* border: 1px solid white; */
}

.header__subtitle{
    display: none;
    color: #ffffe3;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    /* border: 1px solid white; */
}


/********************************** NAV *************************************************/
.nav{
    /* border: 1px solid white; */
   background-color: #212B38;  
   font-family: vw1; 
}

.nav__list{
    /* border: 1px solid red;   */
    height: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-evenly;      
    align-items: center;
    padding: 0;
}

.nav__item{
    /* border: 1px solid orange; */
    list-style: none; 
}

.nav__a{
    text-decoration: none;
    font-size: 0.6rem;    
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    color: #ffffe3;  
}

/***********************************    FOOTER ***********************************/

.footer{  
    /* border: 1px solid red;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: #ffffe3;    
    background-color:  #212B38;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    font-size: 1.2rem;
    font-family: vw1;
}

.article{
    /* border: 1px solid teal; */
    width: 80%;    
}

.article--lomas, .article--atencion{
    display: none;
}

.article__header{
    /* border: 1px solid black; */
    font-weight: bold;    
}

.article__item{
    border-bottom: 1px solid #fff;
    list-style: none;
    padding: 5px 10px;
}

.article__a{
    text-decoration: none;
    color: #ffffe3;      
}

.redes{  
    display: flex;   
    justify-content: space-around;    
    padding:1rem;   
}
