
@font-face{
    font-family: vw1;
    /* src: url("../font/VWText-Regular.otf"); */
    src: url("../font/SF\ Movie\ Poster\ Bold.ttf");
}

*{
    margin: 0;
}


body{
  
    font-family: vw1;
    background-color: #ffffe3;
    color: #fff;
    background-color: #2d203a;
}

.header {
    grid-area: header;
}

.buscador {
    grid-area: buscador;
}



.container {    
    min-width: 380px; /*Desde donde se hace responsive */
    max-width: 1920px; /*Hasta donde se hace responsive */
    width: 100%;
    grid-gap: 0.5em;
    display: grid;   
    grid-template-columns: 1fr;   
    grid-template-rows: 200px 1fr ; 
    grid-template-areas: "header header header header" 
                         "buscador buscador buscador buscador";
                        
                        
                        
}

.header{ 
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #032541;
    /* color: #93A4AE;
    color: #69C6B3; */
    color: #09B5E1;
    border-radius: 0.2em;
    /* font-variant: small-caps; */
    /* letter-spacing: 2px; */
    /* word-spacing: 5px; */
    background-image: url("../image/b.jpg");
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: center;
    
   
}

.header__title{
    /* border-bottom: 1px solid #09B5E1; */
    font-size: 4rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    color: #ffffe3;
    text-shadow: 3px 2px 2px #d1273f;
}

.header__subtitle{
    /* font-size: 20px; */
    display: none;
    color: #ffffe3;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
}




/*************   PARTE BUSCADOR    ***************************/

.buscador{
    /* border: 1px solid teal; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;   
}

.cajabusqueda{
    /* border: 1px solid rosybrown; */
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;  
}

.buscador__input{  
    width: 50%;  
    border: 1px solid  #2d203a;
    padding: 0.5em 1em;
    border-radius:  5px;
    color:  #2d203a;     
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    font-family: vw;
}

.buscador__button{
    background-color: #d1273f ;
    border: 1px solid #d1273f;
    padding: 0.5em 1em;    
    border-radius:  5px;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    font-family: vw;
    color: #ffffe3; 
}

.buscador__input:focus{
    background-color: #d1273f;
    color: #ffffe3;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    font-family: vw;    
}


/**********************************  GALERIA  *********************/


.box{
    /* border: 1px solid orange; */
    width: 150px;
    height: 250px;    
    margin: 0.5rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* background-color:#34495E; */    
    /* color: #93A4AE; */
    /* color: #032541; */
}

.ajustar{
    width: 100%;
    height: 100%;
}


.galeria{
    /* border: 1px solid olive; */
    width: 80%;    
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    display: none;
}



/***********************************  GRID AREA  ************************************/

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.info {
    grid-area: info;
}

.review {
    grid-area: review;
}


.footer {
    grid-area: footer;
}


/***************************** CAJA CONTENEDORA PAG2 *******************************/

.container2{    
    min-width: 380px; /*Desde donde se hace responsive */
    max-width: 1920px; /*Hasta donde se hace responsive */
    width: 100%;   
    display: grid;   
    grid-template-columns: 1fr;   
    grid-template-rows: 10% 75px repeat(2, auto) 100px; 
    grid-template-areas: "header" 
                         "nav"
                         "info"
                         "review"                         
                         "footer";                        
}

/********************************** NAV *************************************************/
.nav{
    /* background-color:#7c2b40; */
   /* background-color: #fecb30; */ 
   /* background-color: #ffffe3; */
   background-color: #2d203a;
   border-bottom: 1px solid #ffffe3;
   
}

.nav__list{
    /* border: 1px solid red; */  
    height: 100%;
    display: flex;   
    justify-content:space-evenly;      
    align-items: center;
    padding: 0;
}

.nav__item{
    /* border: 1px solid orange; */
    list-style: none; 
}

.nav__a{
    text-decoration: none;
    font-size: 0.8rem;    
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    color: #ffffe3;  
}

/************************* TITULO Y SUBTITULO SECTIONS ******************************/

.text{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__title{
    margin-bottom: 1rem;     
    padding: 0.3em;    
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    font-size: 1.8rem;     
    color: #ffffe3;   
    border-bottom: 2px solid #ffffe3; 
}

.text__subtitle{   
   /* border: 1px solid red; */
   font-size: 1.5rem;
   color: #ffffe3;
   width: inherit;
    margin-bottom: 0.5em;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    text-align: justify; 
    display: none;
}


/********************** SECTION INFO ****************************************/

 
.info {
    /* border: 1px solid teal; */
    background-color: #2d203a;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

.info__box{
    /* border: 1px solid red; */
    border-radius: 3px;   
    padding: 1em;
    text-align: justify;   
    background-color: #ffffe3;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    font-size: 1.5rem;
}

.info__box--title{
/* border: 1px solid red; */
margin-bottom: 1rem;
letter-spacing: 0.3rem;
word-spacing: 0.5rem;
font-size: 1.8rem; 
color: #d1273f;
text-shadow: 2px 2px 4px #2d203a;
/* cambiar tipo letra */
}

.info__box--text{
    /* border: 1px solid green; */
    margin-bottom: 1rem;  
}

.info__box--textge{
/* border: 1px solid red; */
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
letter-spacing: 0.3rem;
margin-top: 1rem;
color: #d1273f;
border-bottom: 2px solid #2d203a;
display: none;
/* cambiar tipo letra */

}

.info__box2{
    display: none;
}

.caja3{
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
}



/**************************** SECTION REVIEW *************************/

.review {
    /* border: 1px solid red; */
    background-color: #fecb30;    
    padding: 1rem;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;   
}

.cajaarticulos{
    /* border: 1px solid teal; */
    background-color: #ffffe3;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articlecontainer{
    /* border: 1px solid red;       */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-bottom: 1px solid #2d203a;
    margin: 1em;   
}

.articlecontainer__header{  
    /* border: 1px solid red; */
   font-size: 1.5rem;  
   width: 100%;      
}

.articlecontainer__text{
    /* border: 1px solid red; */
    text-align: justify;
    padding: 1rem;
    font-size: 1.2rem;
}


/*************************** SECTION GALLERY *******************************/

.gallery {
    background: #2d203a;
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.images {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.images__container {   
    /* border: 1px solid green; */
    width: 180px;
    background-color: #ffffe3; 
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.3rem;   
}

/***********************************    FOOTER ***********************************/

.footer{   
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 1rem;
    color: #ffffe3;    
    background-color: #2d203a;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    font-size: 1.2rem;
}

.article{
    width: 80%;
    /* border: 1px solid teal; */
}

.article--lomas, .article--atencion{
    display: none;
}

.article__header{
    font-weight: bold;
    /* border: 1px solid black; */
}

.article__item{
    border-bottom: 1px solid #fff;
    list-style: none;
    padding: 5px 10px;
}

.article__a{
    text-decoration: none;
    color: #ffffe3;  
}

.redes{  
    display: flex;   
    justify-content: space-around;    
    padding:1rem;   
}






